<!doctype html>
<html>
<head>
    <title>Post It!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body class="font-lato">
	<header class="max-w-lg mx-auto">
		<h1 class="fw-bold text-white text-center">Post It!</h1>
	</header>

	<div class="max-w-lg mx-auto p-5 bg-white my-10 rounded-lg shadow-2xl">			

		<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<section>
				<h3 class="font-bold text-2xl">Welcome to Post It!</h3>
				<p class="text-gray-600 pt-2">Log in to your account.</p>
		</section>

		<!-- LOGIN FORM -->
		<section class="mt-2">
			<form class="flex flex-col" action="/login" method="post">
					<div class="mb-2 pt-3 rounded bg-gray-200">
							<label class="block text-gray-700 font-bold mb-2 ml-3">Email</label>
							<input type="text" name="email"  class="input-form bg-gray-200 rounded w-full text-gray-700 focus-outline-none border-b-4 border-gray-300 focus-border-purple-600 transition duration-500 px-3 pb-3">
					</div>
					<div class="mb-2 pt-3 rounded bg-gray-200">
							<label class="block text-gray-700 font-bold mb-2 ml-3">Password</label>
							<input type="password" name="password"  class="input-form bg-gray-200 rounded w-full text-gray-700 focus-outline-none border-b-4 border-gray-300 focus-border-purple-600 transition duration-500 px-3 pb-3">
					</div>

					<button type="submit" class="btn bg-purple-600 hover-bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200">Login</button>
			</form>
		</section>

		<hr>

		<p>Need an account? <a href="/signup" class="link font-bold">Signup</a></p>
		<p>Or go <a href="/" class="link font-bold">home</a>.</p>

	</div>
</body>
</html>
